/* WHOLE PAGE / BODY */
@font-face {
  font-family: "Quicksand";
  src: url(/assets/Quicksand-VariableFont_wght.ttf);
}


/* FORM ELEMENTS */

.numberBox {
  height: 3rem;
  min-width: 15rem;
  width:min-content;
  padding-left: 1rem;
  padding-right: 1rem;

  border-style: inset;
  border-width: 4px;
  border-radius: 2rem;

  font-family: 'Quicksand', 'sans-serif';
  font-size: 1.5rem;
}

.container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.inputNum {
  
}

.outputNum {
  display: flex;
  align-items: center;
}

.equals {
  font-size: 3rem;
}



/* BUTTONS */

/* All Buttons */
.buttonMain {
  width: 14rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #AD62E6;
  border-color: #BF83EC;
  border-width: 4px;
  border-radius: 2rem;

  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;

  color: #fff;
  text-shadow: -1px -1px 0px #CF8DFF, 1px 1px 0px #724E8C;
}

.buttonMain:active {
  background-color: #964fcc;
  border-color: #AD62E6;
  border-width: 6px;
  border-radius: 2rem;

  color: #e2d1f0;
  text-shadow: -1px -1px 0px #724E8C, 1px 1px 0px #CF8DFF;
}

/* Coins */
.coinMain {
  width: 3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-style: outset;
  border-width: 4px;
  border-radius: 50%;

  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

#goldCoin {
  color: #c47f51;
  background-color: #f3c665;
  border-color: #ffeb8f;
  border-bottom-color: #FFAB24;
  border-right-color: #FFAB24;
  text-shadow: 2px 2px 0px #ffeb8f;
}

#platCoin {
  color: #859eb3;
  background-color: #d1e3f3;
  border-color: #e4f4ff;
  border-bottom-color: #c6dbec;
  border-right-color: #c6dbec;
  text-shadow: 2px 2px 0px #f1f9ff;
}

#platButton:active {
  color: #728da3;
  background-color: #bcd3e7;
  border-color: #e0f1ff;
  border-top-color: #c6e3fa;
  border-left-color: #c6e3fa;
  text-shadow: 2px 2px 0px #d7eeff;
}







body {
  margin: 0;
  font-family: 'Quicksand', 'sans-serif';
  font-size: 16px;
}

/* HEADER */
header {
  background-color: blueviolet;
  padding: 10px 15px; /* TOP/BOTTOMpx RIGHT/LEFTpc - OR - TOP RIGHT BOTTOM LEFT ( Clockwise ) */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

/* MAIN */
main {
}

section {
  height: 100vh;
}













/* FOOTER */
footer {
  background-color: blue;
  display: flex;
  justify-content: center;
}
