/* WHOLE PAGE / BODY */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', 'Tahoma', 'sans-serif';
}

/* HEADER */
header {
  background-color: blueviolet;
  padding: 10px 15px; /* TOP/BOTTOMpx RIGHT/LEFTpc - OR - TOP RIGHT BOTTOM LEFT ( Clockwise ) */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

/* MAIN */
main {
}

section {
  height: 100vh;
}

/* FOOTER */
footer {
  background-color: blue;
  display: flex;
  justify-content: center;
}
